<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <header>
        <h1>十八哥的Blog</h1>
        <h4>乘风行,无惧</h4>
    </header>
    <nav>
        <ul>
            <li><a href="">导航1</a></li>
            <li><a href="">导航2</a></li>
            <li>
                <a href="">导航3</a></li>
            <li><a href="">导航4</a></li>
        </ul>
    </nav>
    <div id="main">
        <div id="lside">
            <article>
                <h2><a href="#">午后的街头</a></h2>
                <div class="entry_header">
                    <time>2015/7月/日</time>
                    by
                    <a href="#">十八</a>
                    <a class="catlink" href="#">闲谈随笔</a>
                    <a class="comment" href="#">8条评论</a>
                </div>
                <div class="entry_content">
                    <p>有时突然想说我爱你，<br>
                    有时突然慌张忧伤。</p>
                    <p>
                    像迷路的孩子，<br>
                    东张西望。
                    </p>
                    <p>
                    伸出双手想抓住，时光像泥鳅一样。
                    </p>
                </div>
            </article>
            <article>
                <h2><a href="#">午后的街头</a></h2>
                <div class="entry_header">
                    <time>2015/7月/日</time>
                    by
                    <a href="#">十八</a>
                    <a class="catlink" href="#">闲谈随笔</a>
                    <a class="comment" href="#">8条评论</a>
                </div>
                <div class="entry_content">
                    <p>有时突然想说我爱你，<br>
                    有时突然慌张忧伤。</p>
                    <p>
                    像迷路的孩子，<br>
                    东张西望。
                    </p>
                    <p>
                    伸出双手想抓住，时光像泥鳅一样。
                    </p>
                </div>
            </article>
            <article>
                <h2><a href="#">午后的街头</a></h2>
                <div class="entry_header">
                    <time>2015/7月/日</time>
                    by
                    <a href="#">十八</a>
                    <a class="catlink" href="#">闲谈随笔</a>
                    <a class="comment" href="#">8条评论</a>
                </div>
                <div class="entry_content">
                    <p>有时突然想说我爱你，<br>
                    有时突然慌张忧伤。</p>
                    <p>
                    像迷路的孩子，<br>
                    东张西望。
                    </p>
                    <p>
                    伸出双手想抓住，时光像泥鳅一样。
                    </p>
                </div>
            </article>
            <div id="pagebar">
                Pages:&nbsp;
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                4
                <a href="#">5</a>
                <a href="#">6</a>
            </div>
        </div>
        <div id="rside">
            <aside>
                <form action="">
                    <input type="text" name="search" placeholder="Search...">
                </form>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题</a>&nbsp;(1)</li>
                    <li><a href="">文章标题</a>&nbsp;(3)</li>
                    <li><a href="">文章标题</a>&nbsp;(5)</li>
                    <li><a href="">文章标题</a>&nbsp;(3)</li>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
            <aside>
                <h4>测试标题</h4>
                <ul>
                    <li><a href="">文章标题1</a></li>
                    <li><a href="">文章标题2</a></li>
                    <li><a href="">文章标题3</a></li>
                    <li><a href="">文章标题4</a></li>
                </ul>
            </aside>
        </div>
    </div>
    <footer>
        Copyright &copy; 2015 · GeneratePress · WordPress
    </footer>
</body>
</html>